@tailwind base;
@tailwind components;
@tailwind utilities;
.header_top {
    display: flex;
    justify-content: end;
    width: 100%;
}

.header_menu {
    display: flex;
    align-items: center;
    // justify-content: start;
    width: 100%;
    position: fixed;
    padding-right: 5vw;
    top: 0;
    ul {
        display: flex;
        list-style: none;
        gap: 4vw;
        margin-left: 40vw;
        // background-color: aqua;
        li {
            font-size: 2vw;
            display: flex;
            // justify-content: center;
            align-items: center;
            // background-color: rgb(212, 110, 8);
        }
    }
}

.img_profile {
    margin-top: 5vw;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    margin-left: 2vw;
    
}