@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: "Poppins", serif;
    overflow-x: hidden;
    width: 100%;
    background-image: url('/assets/img/background.jpg');
    /* Đường dẫn tới tệp hình ảnh của bạn */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

button {
    all: unset;
    cursor: pointer;
}

.home_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 150dvh;
    font-size: 1.6dvw;
}

.hover-effect a {
    display: inline-block;
    transition: transform 0.3s ease;
}

.hover-effect a:hover {
    transform: scale(1.2);
}

.home_nav {
    margin-top: 8dvh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    margin-left: 2dvw;
}

.menu_nav {
    top: 0;
    width: 100%;
    /* position: fixed; */
    height: 8dvh;
    justify-content: flex-end;
    display: flex;
    gap: 7dvw;
    padding-right: 3dvw;
    align-items: center;
    transition: top 0.3s;
}


.img_profile {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.custom-button {
    padding: 0.2dvw 0.7dvw;
    /* Thêm khoảng trống trong button */
    display: flex;
    /* Sử dụng flexbox để canh giữa nội dung */
    align-items: center;
    /* Canh giữa theo chiều dọc */
    justify-content: center;
    /* Canh giữa theo chiều ngang */
    gap: 0.5dvw;
    /* Khoảng cách giữa chữ và icon */
    transition: 0.3s;
    /* Hiệu ứng khi hover */
    border: 0.1dvw solid ;
}

.custom-button:hover {
    border-color: slategray;
    /* Thay đổi màu viền khi hover */
    transform: scale(1.1);
    /* Hiệu ứng phóng to khi hover */
}

.sub_text_about {
    flex-direction: column;
    font-size: 1dvw;
    height: 50dvh;
    margin-right: 2vw;
}

.title_sub {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: flex-end;
    align-items: center; 
    
}

.title_sub p {
    width: 50%;
    border-bottom: 0.05vw solid gray;
    align-items: center;
    font-size: 4dvw;

}

.content_sub {
    display: flex;
    width: 100%;
    height: 72%;
    justify-content: flex-end;
}

.content_sub p {
    display: flex;
    width: 50%;
    font-size: 1.5dvw;
    text-align: justify;
    margin-top: 2vw;
}

.hero_text {
    font-size: 10vw;
    margin-left: 2vw;
    height: 40%;
    gap: 1vw;
}

#typing-text::after {
    content: '|';
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sub_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
}
.project-tittle{
    width: 100%;
    height: 8vw;
    background-color: #2106b9;
}
.footer {
    width: 100%;
    height: 80dvh;
    margin-top: 1dvw;
    display: flex;
    flex-direction: column;

    font-size: 1dvw;

}

.footer_content {
    font-size: 4dvw;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: flex-start;

}

.footer_info {
    height: 100%;
    width: 50%;
    flex-direction: column;

}

.footer_info p {
    width: 50%;
    margin-left: 6vw;
}

.footer_writing {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer_contact_link {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.title_contact {
    width: 100%;
    height: 50%;
}

.footer_link_contact {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;

    align-items: center;
}

.icon_contact {
    width: 40%;
    height: 100%;
    margin-left: 40%;
    gap: 2dvw;
    display: flex;
}

.icon_contact a:hover {
    transform: scale(1.1);
}

.form-container {


    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1dvw;
}

.text_input {
    width: 100%;
    height: 30%;
    border: 0.15dvw solid #2106b9;
    border-radius: 3%;
    font-size: 2dvh;
    padding: 1dvw;
}

.text_area {
    margin-top: 1dvw;
    padding: 1dvw;
    width: 100%;
    height: 50%;
    border: 0.15vw solid #2106b9;
    border-radius: 3%;
    box-sizing: border-box;
    font-size: 2dvh;
}

.submit {
    padding: 0.2dvw 0.7dvw;
    /* Thêm khoảng trống trong button */
    display: flex;
    /* Sử dụng flexbox để canh giữa nội dung */
    align-items: center;
    /* Canh giữa theo chiều dọc */
    justify-content: center;
    /* Canh giữa theo chiều ngang */
    gap: 0.5dvw;
    /* Khoảng cách giữa chữ và icon */
    transition: 0.3s;
    font-size: 2dvh;

}


.flex-col {
    flex-direction: column;
    /* background-color: black; */
}

.h-full {
    height: 100%;

}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: black;
    margin: 15% auto;
    padding: 1.5dvw;
    border: 1px solid #888;
    width: 80%;
    max-width: 30%;
    border-radius: 1dvw;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 2vw;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color:white;
    text-decoration: none;
    cursor: pointer;
}